/* 	
	Kevin O'Toole
	MIU 1304
	Project 2
*/

#homepage, #recipesPage, #infopage, #author, #newsStream, #breakfastpage, #lunchpage,
#dinnerpage, #appetizerpage, #dessertpage, #drinkpage, #searchRecipePage{
background: rgb(180,221,180); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(180,221,180,1)), color-stop(17%,rgba(131,199,131,1)), color-stop(33%,rgba(82,177,82,1)), color-stop(67%,rgba(0,138,0,1)), color-stop(83%,rgba(0,87,0,1)), color-stop(100%,rgba(0,36,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1 {
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#clover{
	float: right;
}

#recCont{
	text-align: center;
}

#cta{
	height: 100px;
	margin: 0px;
	padding: 0px;
	background: url(../images/cta.png);
	background-repeat: no-repeat;
	background-position: center;
}

#addbtn{
	margin: 65px 100px 0px 40px;
}

#searchpage{
	text-shadow: none;
	margin: 0px 10px 0px 10px;
}

#authHead{
	font-family: "Times New Roman", Times, Arial;
	text-shadow: none;
}

#authInfo{
	font-family: "Times New Roman", Times, Arial;
	color: solid black;
	font-size: 18px;
	text-shadow: none;
}

#kevinimg {
	float: right;
	padding-left: 1em;
}