/* 	
	Kevin O'Toole
	MIU 1304
	Project 2
*/

#homepage, #recipesPage, #infopage, #author, #newsStream, #breakfastpage, #lunchpage,
#dinnerpage, #appetizerpage, #dessertpage, #drinkpage, #searchRecipePage{
	background: #6fbfe9;
}

h1 {
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#clover{
	float: right;
}

#recCont{
	text-align: center;
}

#cta{
	height: 100px;
	margin: 0px;
	padding: 0px;
	background: url(../images/cta.png);
	background-repeat: no-repeat;
	background-position: center;
}

#addbtn{
	margin: 65px 100px 0px 40px;
}

#searchpage{
	text-shadow: none;
	margin: 0px 10px 0px 10px;
}

#authHead{
	font-family: "Times New Roman", Times, Arial;
	text-shadow: none;
}

#authInfo{
	font-family: "Times New Roman", Times, Arial;
	color: solid black;
	font-size: 18px;
	text-shadow: none;
}

#kevinimg {
	float: right;
	padding-left: 1em;
}