/* 	
	Kevin O'Toole
	MIU 1304
	Project 3
*/

#homepage, #recipesPage, #infopage, #author, #newsStream, #breakfastpage, #lunchpage,
#dinnerpage, #appetizerpage, #dessertpage, #drinkpage, #searchRecipePage, #addItem, #dispRec{
background: rgb(135,224,253); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 20%, rgba(83,203,241,1) 62%, rgba(5,171,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%,rgba(135,224,253,1)), color-stop(62%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 20%,rgba(83,203,241,1) 62%,rgba(5,171,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 20%,rgba(83,203,241,1) 62%,rgba(5,171,224,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 20%,rgba(83,203,241,1) 62%,rgba(5,171,224,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(135,224,253,1) 20%,rgba(83,203,241,1) 62%,rgba(5,171,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1 {
	text-align: left;
	padding: 0px;
	margin: 6px 0px 0px 6px;
	font-size: 18px;
}

#back{
	float: left;
	width: 75px;
	margin: 0px 0px 0px 10px
}

/* -- Home Page CSS -- */
#cta{
	height: 100px;
	margin: 0px;
	padding: 0px;
	background: url(../images/cta.png);
	background-repeat: no-repeat;
	background-position: center;
}

#addbtn{
	margin: 65px 100px 0px 40px;
}


#searchpage{
	text-shadow: none;
	margin: 0px 10px 0px 10px;
}

#button{
	text-align: center;
	margin: 5px;
}

#searchRecipePage{
	text-shadow: none;
	text-align: center;
}

#searchLI{
	text-align: left;
}

/* -- Recipe Page CSS -- */
#recipehead{
	text-shadow: none;
	text-align: center;
	padding: 0px;
	margin: 0px 0px 10px 0px;
}

#recCont{
	text-align: center;
}

/* -- Author Page CSS -- */
#authHead{
	text-shadow: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#authInfo{
	color: solid black;
	font-size: 16px;
	text-shadow: none;
}

#kevinimg {
	float: right;
	padding-left: 1em;
}

/* -- News Stream Page CSS  Search Page CSS-- */
#newshead, #searchHead,  #infoHead{
	text-shadow: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#error{
	float: left;
}

#breakfastContent, #lunchContent, #dinnerContent,
#appetizerContent, #dessertContent, #drinkContent{
	text-shadow: none;
	text-align: center;
}

/* -- Add Item -- */
#addItem, #dispRec{
	text-shadow: none;
}

#errorsLink{
	display: none;
}

label.error{
	display: block;
	margin: 10px 0px;
	color: red;
}

#infoLegend, #recLegend{
	font-weight: bold;
	font-size: 16px;
}

span#required, span#emailinput, span#inginput, span#dirinput{
	font-size: 12px;
}

ul#errors{
	color: red;
	font-size: 14px;
	text-shadow: none;
}

ul#newSubList li{
	list-style: none;
}




